<html>
    <head>
        <link rel = "stylesheet" href = "/dice.css" />
    </head>
    <body>
        <h1>You rolled a <%= numberResponse %></h1>
        <p>Refresh the page to roll again...</p>
    </body>
</html>